/*====== LOGIN SIGN UP MODAL ======*/

.login-modal {
    max-width: 800px;
    background-color: var(--gray);
    color: var(--white);
    padding: 1rem;
    margin: 0 auto;
    border: 2px solid var(--white);
    border-radius: var(--br-soft);
}

dialog::backdrop {
    background-color: rgb(0,0,0); /*Fallback color*/
    background-color: rgba(0,0,0, 0.8); /*Black w/ opacity*/
}

.close-modal-btn {
    display: block;
    color: var(--white);
}

.close-modal-btn {
    margin-top: 1rem;
    margin-left: auto;
}

.close-modal-btn:hover {
    color: hotpink;
}

.input-container,
.form-btns,
.xcl-container {
    max-width: 600px;
    margin: 0 auto 2rem auto;
}

.input-container input,
.input-container label,
form button {
    font-size: var(--fs-m);
    transition: 0.5s;
}

.input-container input,
.login,
.signup {
    width: 100%;
    padding: 1em .5em;
    border: none;
    border-radius: var(--br-soft);    
}

.input-container input:hover {
    background-color: rgb(252, 217, 221);
}

.login,
.signup {
    background-color: var(--pale-yellow);
}

.login:focus,
.signup:focus {
    outline: 5px solid hotpink;
    transform: scale(1.02);
}

.login:hover,
.signup:hover {
    background-color: pink;
    color: var(--black);
}

.save-check {
   margin-bottom: 2rem;
}

.save-check-label,
.pwd-link,
.forgot-pwd {
    font-size: var(--fs-s);
}

.cancel-btn {
    width: 150px;
    background-color: pink;
    padding: .5rem;
    border-radius: var(--br-soft);
}

.xcl-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem
}

.pwd-link {
    margin-left: .1em;
}

.modal-footer {
    width: 100%;
    background-color: var(--green);
    padding: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}