@import '/css/loginmodal.css';
/* @import '/css/utilities.css'; */
/* @import 'css/mediaquery.css'; */


/*
Author: Cassie Lewis
https://clewisdev.com
Date: April 2023
*/


/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --white: #fff;
    --off-white: #FAFAFA;
    --black: #000;
    --dark-gray: #4E4E4E;
    --gray: #565656;
    --light-gray: lightgray;
    --green: #638A5C;
    --pale-yellow: #ECE480;
 
    /*BORDER RADIUS*/
    --br-soft: .25rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: .8125rem;
    --fs-s: 1rem; /*16px*/
    --fs-m: 1.375rem; /*22px*/
    --fs-l: 2.75rem; /*44px*/
    --fs-title: 2.125rem; /*34px*/

    --utility-padding: .75rem;
    --header-logo: 150px;
    --footer-logo: 100px;
    --info-icon-width: 30px;
    --info-icon-height: 30px;
    --star-width: 1rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    background-color: var(--off-white);
    font-family: 'Inter', sans-serif;
    min-width: 320px;
    margin: 0 auto;
}

button {
    border: none;
    cursor: pointer;
}


ul {
    list-style-type: none;
}

a {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
}

button,
a,
input {
    transition: 0.5s ease;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
}               

button:hover {    
    color: var(--black);
    background-color: var(--pale-yellow);
    border-radius: 1rem;
}

input:hover {
    background-color: var(--pale-yellow);
}

a:focus {
    padding: .25em;
    border-radius: var(--br-soft);
}

input:focus,
a:focus,
button:focus {
    outline: 5px solid gold;
}

input:focus,
button:focus {
    border-radius: var(--br-soft);
}

/*====== UTILITY CLASSES ======*/

.hidden {
    display: none;
}

.padding {
    padding: 0 var(--utility-padding);
}


/*====== HEADER NAV MENU STYLING ======*/

.header-logo {
    width: var(--header-logo);
}

.header-container {
    padding: 1em 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-hidden {
    display: none;
}

@media (min-width: 1000px) {
    .header-nav-hidden {
        display: block;
    }
}

.header-crumb {
    font-size: var(--fs-s);
    text-align: right;
    text-transform: uppercase;
    padding: .75em 1em;
    margin-bottom: .5em;
}

.signup-btn,
.login-btn {
    display: inline-block;
    width: 150px;
    font-family: inherit;
    font-size: var(--fs-s);
    text-align: center;
    text-transform: uppercase;
    padding: .75em 1em;
    border-radius: var(--br-soft);
}

nav a:visited {
    color: darkblue;
}

.nav-btn {
    background-color: var(--white);
    transition: 0.5s ease;
}

.nav-btn-transform { /*for JavaScript*/
    transform: rotate(90deg);
}

.signup-btn {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
}

.login-btn {
    border: 2px solid var(--dark-gray);
}

@media (max-width: 999px) {
    
    .header-nav {
        background-color: var(--light-gray);
        padding: .5em 0;
        margin-bottom: 1em;
        border-radius: var(--br-soft);
    }
}

/*====== HERO SECTION ======*/

.hero-container {
    background-image: url(assets/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    position: relative;
}

.hero-text {
    max-width: 750px;
    backdrop-filter: brightness(50%);
    padding: 2.25em 1.5em;
}

.hero-title {
    color: var(--white);
    font-size: var(--fs-title);
    font-weight: 400;
    margin-bottom: .5em;
}

.hero-adventure {
    color: var(--pale-yellow);
    font-weight: 700;
}

.hero-description {
    max-width: 600px;
    font-size: var(--fs-xs);
    color: var(--white);
    padding-bottom: 8em;
}

.search-form {
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    margin: 0 auto;
}

.search-form-container {
    background-color: var(--white);
    border-radius: var(--br-soft);

    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    border: none;
    padding: .5em .25em;
}

.search-input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-xs);
    font-weight: 700;
    color: var(--gray);
    opacity: .30;
    /* padding: 1rem; */
}

.search-icon {
    padding: 1em;
}

.city-search-btn {
    font-family: inherit;
    font-size: var(--fs-xs);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .1rem;;
    background-color: var(--green);
    padding: 1rem 1.5rem;
    margin-left: auto;
    border: 2px solid var(--white);
    border-radius: var(--br-soft);
}


/* ====== HIKES SECTION ====== */

.hike-img {
    display: block;
    width: 100%;
    margin: 0 auto 1.40em auto; 
} 

.hikes-heading {
    color: var(--dark-gray);
}

.hikes-heading,
.hikes-title {
    font-size: var(--fs-m);
    margin-bottom: .25em;
}

.hikes-subtitle,
.hikes-description {
    font-size: var(--fs-xs);
}

.hikes-subtitle {
    margin-bottom: 1em;
}

.hikes-description {
    color: var(--gray);
    margin-bottom: 1.25em;
}

.learn-link {
    display: inline-block;
    max-width: 200px;
    font-size: var(--fs-xs);
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    padding: .5em .5em;
    margin-bottom: 2em;
    border-radius: var(--br-soft);
    transition: 0.5s;
}

.learn-link:hover {
    color: var(--dark-gray);
    background-color: var(--pale-yellow);
    border-radius: .75rem;
}

/*====== SITE INFO ======*/

.site-info-container {
    background-color: #ecebeb;
    padding: 2.25em 4em;
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    gap: 2.5em;
}

@media (min-width: 800px) {
    
    .site-info-container {
        padding-top: 5em;
        padding-bottom: 5em;
        grid-auto-flow: column;
    }

    .info-description {
        max-width: 24rem;
        margin: 0 auto;
    }
}

.info-item {
    text-align: center;
}

.info-icon {
    width: var(--info-icon-width);
    height: var(--info-icon-height);
    display: inline-block;
    color: var(--dark-gray);
    margin-bottom: 1em;
}

.info-title {
    margin-bottom: 1em;
}

.info-title,
.info-description,
.info-link {
    font-size: var(--fs-xs);
}

.info-link {
    font-family: inherit;
    color: var(--green);
    font-weight: 700;
}


/*====== FOOTER ======*/

footer {
    background-color: var(--black);
}

.footer-nav {
    padding: 2em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-crumb a {
    color: var(--white);
    font-size: var(--fs-xs);
    text-transform: uppercase;
}

.footer-signup-btn,
.footer-login-btn {
    font-family: inherit;
    font-size: var(--fs-xs);
    text-transform: uppercase;
    background-color: var(--black);
    color: var(--white);
    padding: .25rem;

}

.footer-logo {
    display: block;
    width: var(--footer-logo);
    margin: 0 auto;
}

.copyright-info {
    font-size: .5em;
    text-align: center;
    color: var(--light-gray);
    padding-bottom: 2em;
}

.footer-crumb a:visited {
    color: var(--pale-yellow);
}

                      
/*====== EXPLORE PAGE ======*/

.explore-subtitle {
    color: var(--dark-gray);
    font-size: var(--fs-m);
    margin-bottom: 1em;
}

.explore-title {
    margin-bottom: .5em;
}

.explore-rating {
    font-size:  var(--fs-xs);
    margin-bottom: 2em;
}

.explore-img {
    display: block;
    width: 100%;
    margin: 0 auto 1.5em auto;
}

.explore-star {
    display: inline-block;
    width: var(--star-width);
}

.explore-description {
    margin-bottom: 2em;
}

@media (min-width: 1000px) {

    .explore-container,
    .article-flex,
    .explore-map {
        margin: 0 auto;
    
    }

    .explore-flex {
        display: flex;
    }

    .article-flex {
        max-width: 650px;
    }

    .explore-subtitle {
        font-size: var(--fs-l);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .explore-one,
    .explore-two,
    .explore-three {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(3, min-content);
    }

    .border-bottom {
        border-bottom: 1px solid var(--light-gray);
    }

   .explore-map {
        display: block;
        max-width: 1000px;
        width: 100%;
        height: 100%;
        padding-right: 2rem;
    }

    .explore-title,
    .explore-rating {
        font-size: var(--fs-m);
        line-height: 150%;
    }

    .explore-title {
        grid-row: 1;
    }

    .explore-img {
        grid-row: 1 / 3;
        grid-column: 2;
    }

    .explore-description {
        font-size: 1.675rem;
        color: var(--dark-gray);
        line-height: 150%;
        padding-bottom: 3rem;
        grid-row: 3;
        grid-column: 1 / 3;
    }
}

/*====== MEDIA QUERIES ======*/
 
@media (min-width: 1000px) { 

    :root {
        --fs-xs: 1.375rem;
        --fs-s: 1.25rem;
        --fs-m: 2rem;
        --fs-title: 4rem;

        --utility-padding: 2rem;
        --header-logo: 250px;
        --footer-logo: 200px;
        --info-icon-width: 60px;
        --info-icon-height: 60px;
        --star-width: 2rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-btn {
        display: none;
    }

    .header-ul {
        display: flex;
        align-items: center;
    }

    .grid-container {
        margin-bottom: 4rem;
        
        display: grid;
        grid-template-rows: repeat(5, min-content);
        grid-template-columns: 1fr .5fr 1fr;
        gap: 1em;
    }

    .hero-container {
        grid-row: 1;
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: auto 1fr;
    }

    .hero-text {
        padding: 2.25em 3em;
    }

    .hero-title {
        padding-top: 2em;
    }

    .hero-description {
        padding-bottom: 5em;
        font-size: 1.625rem;
    }

    .search-form {
        padding: 1rem 3rem;
        /* grid-column: 2; */
        grid-column: 1 / -1;
        align-self: flex-end;
    }
 
    .hikes-heading {
        grid-row: 3;
    }
    
    .hikes-heading,
    .hikes-title {
        font-size: var(--fs-l);
    }

    .img-one {
        width: 100%;
        grid-row: 4;
        grid-column: 1 / 3;
    }

    .hike-one,
    .hike-two,
    .hike-three {
        padding: 0 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .hike-one {
        grid-row: 4;
        grid-column: 3;
    
    }
    
    .img-two {
        width: 100%;
        grid-row: 5;
        grid-column: 2 / 4;
    }
    
    .hike-two {
        grid-row: 5;
        grid-column: 1;
    }
    
    .img-three {
        width: 100%;
        grid-row: 6;
        grid-column: 1 / 3;
    }
    
    .hike-three {
        grid-row: 6;
        grid-column: 3;
    }

    .info-icon {
        width: 50px;
        height: 50px;
    }

    footer {
        padding: 4.5rem 2rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .footer-crumb {
        padding-left: 3rem;
    }
}

@media (min-width: 1400px) {
    .search-form {
        grid-column: 2;
    }
}

