@import '/css/loginmodal.css';
@import '/css/utilities.css';
@import 'css/mediaquery.css';
@import 'css/explore.css';


/*
Author: Cassie Lewis
https://clewisdev.com
Date: April 2023
*/


/*====== HEADER NAV MENU STYLING ======*/

.header-logo {
    width: var(--header-logo);
}

.header-container {
    padding: 1em 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-hidden {
    display: none;
}

@media (min-width: 1000px) {
    .header-nav-hidden {
        display: block;
    }
}

.header-crumb {
    font-size: var(--fs-s);
    text-align: right;
    text-transform: uppercase;
    padding: .75em 1em;
    margin-bottom: .5em;
}

.signup-btn,
.login-btn {
    display: inline-block;
    width: 150px;
    font-family: inherit;
    font-size: var(--fs-s);
    text-align: center;
    text-transform: uppercase;
    padding: .75em 1em;
    border-radius: var(--br-soft);
}

nav a:visited {
    color: darkblue;
}

.nav-btn {
    background-color: var(--white);
    transition: 0.5s ease;
}

.nav-btn-transform { /*for JavaScript*/
    transform: rotate(90deg);
}

.signup-btn {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
}

.login-btn {
    border: 2px solid var(--dark-gray);
}

@media (max-width: 999px) {
    
    .header-nav {
        background-color: var(--light-gray);
        padding: .5em 0;
        margin-bottom: 1em;
        border-radius: var(--br-soft);
    }
}

/*====== HERO SECTION ======*/

.hero-container {
    background-image: url(assets/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    position: relative;
}

.hero-text {
    max-width: 750px;
    backdrop-filter: brightness(50%);
    padding: 2.25em 1.5em;
}

.hero-title {
    color: var(--white);
    font-size: var(--fs-title);
    font-weight: 400;
    margin-bottom: .5em;
}

.hero-adventure {
    color: var(--pale-yellow);
    font-weight: 700;
}

.hero-description {
    max-width: 600px;
    font-size: var(--fs-xs);
    color: var(--white);
    padding-bottom: 8em;
}

.search-form {
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    margin: 0 auto;
}

.search-form-container {
    background-color: var(--white);
    border-radius: var(--br-soft);

    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    border: none;
    padding: .5em .25em;
}

.search-input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-xs);
    font-weight: 700;
    color: var(--gray);
    opacity: .30;
    /* padding: 1rem; */
}

.search-icon {
    padding: 1em;
}

.city-search-btn {
    font-family: inherit;
    font-size: var(--fs-xs);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .1rem;;
    background-color: var(--green);
    padding: 1rem 1.5rem;
    margin-left: auto;
    border: 2px solid var(--white);
    border-radius: var(--br-soft);
}


/* ====== HIKES SECTION ====== */

.hike-img {
    display: block;
    width: 100%;
    margin: 0 auto 1.40em auto; 
} 

.hikes-heading {
    color: var(--dark-gray);
}

.hikes-heading,
.hikes-title {
    font-size: var(--fs-m);
    margin-bottom: .25em;
}

.hikes-subtitle,
.hikes-description {
    font-size: var(--fs-xs);
}

.hikes-subtitle {
    margin-bottom: 1em;
}

.hikes-description {
    color: var(--gray);
    margin-bottom: 1.25em;
}

.learn-link {
    display: inline-block;
    max-width: 200px;
    font-size: var(--fs-xs);
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    padding: .5em .5em;
    margin-bottom: 2em;
    border-radius: var(--br-soft);
    transition: 0.5s;
}

.learn-link:hover {
    color: var(--dark-gray);
    background-color: var(--pale-yellow);
    border-radius: .75rem;
}

/*====== SITE INFO ======*/

.site-info-container {
    background-color: #ecebeb;
    padding: 2.25em 4em;
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    gap: 2.5em;
}

@media (min-width: 800px) {
    
    .site-info-container {
        padding-top: 5em;
        padding-bottom: 5em;
        grid-auto-flow: column;
    }

    .info-description {
        max-width: 24rem;
        margin: 0 auto;
    }
}

.info-item {
    text-align: center;
}

.info-icon {
    width: var(--info-icon-width);
    height: var(--info-icon-height);
    display: inline-block;
    color: var(--dark-gray);
    margin-bottom: 1em;
}

.info-title {
    margin-bottom: 1em;
}

.info-title,
.info-description,
.info-link {
    font-size: var(--fs-xs);
}

.info-link {
    font-family: inherit;
    color: var(--green);
    font-weight: 700;
}


/*====== FOOTER ======*/

footer {
    background-color: var(--black);
}

.footer-nav {
    padding: 2em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-crumb a {
    color: var(--white);
    font-size: var(--fs-xs);
    text-transform: uppercase;
    padding: .25em;
}

.footer-signup-btn,
.footer-login-btn {
    font-family: inherit;
    font-size: var(--fs-xs);
    text-transform: uppercase;
    background-color: var(--black);
    color: var(--white);
    padding: .25rem;

}

.footer-logo {
    display: block;
    width: var(--footer-logo);
    margin: 0 auto;
}

.copyright-info {
    font-size: .5em;
    text-align: center;
    color: var(--light-gray);
    padding-bottom: 2em;
}

.footer-crumb a:visited {
    color: var(--pale-yellow);
}

                      


